@import "tailwindcss";

/* section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-snap-type: y mandatory;
  scroll-margin-top: 0px;
  scroll-margin-bottom: 0px;
  scroll-behavior: smooth;
} */

/* @custom-variant parallax {
  .parallax {
    background-attachment: fixed;
  }
} */

