/* @import url('https://fonts.cdnfonts.com/css/perfectly-vintages'); */
/* @import url('https://fonts.cdnfonts.com/css/gothemian'); */



/* <link rel="preconnect" href="https://fonts.bunny.net">
<link href="https://fonts.bunny.net/css" rel="stylesheet" /> */

@import "tailwindcss";

/* @import "flowbite/src/themes/default"; */
/* @plugin "flowbite/plugin"; */
/*
@font-face {
  font-family: "My Awesome Font";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: font-url("my-awesome-font.ttf");
}


@font-face {
  font-family: 'Perfectly Vintages';
  font-style: normal;
  font-weight: 400;
  src: url('perfectly-vintages-font-by-keithzo.otf') format('otf');
  font-display: swap;
} */

  /* Font Face Declarations */
  @font-face {
    font-family: 'Gotham Bold';
    src: url('/assets/GOTHAM-BOLD.TTF') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gotham Medium';
    src: url('/assets/Gotham-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Gotham Narrow';
    src: url('/assets/GothamNarrow-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Perfectly Vintages';
    src: url('/assets/Perfectly Vintages Font by Keithzo.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

@theme {

  --font-gotham-bold: 'Gotham Bold', ui-sans-serif, system-ui, sans-serif;
  --font-gotham-medium: 'Gotham Medium', ui-sans-serif, system-ui, sans-serif;
  --font-gotham-narrow: 'Gotham Narrow', ui-sans-serif, system-ui, sans-serif;
  --font-perfectly-vintages: 'Perfectly Vintages', ui-serif, Georgia, serif;


  /* --font-sans: 'Perfectly Vintages';
  --font-serif: 'Gothemian'; */

  /* Gotham Rounded, Gotham Condensed, Gotham Narrow, Gotham X-Narrow, Gotham Bold */

  /* --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Perfectly Vintages";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif, "Gotham Bold"; */

  /* --font-serif: 'Perfectly Vintages', serif;
  --font-sans: 'Gothemian', sans-serif; */


  /* --font-sans: "Gotham Bold", sans-serif;
  --font-serif: "Perfectly Vintages", serif; */
  /* --font-sans: Poppins, sans-serif;
  --font-poppins: Poppins, sans-serif;
  --font-noto: Noto Sans, sans-serif; */



  # Green
  --color-siam-50: #f4f4f1;
  --color-siam-100: #e7e7e0;
  --color-siam-200: #d2d2c4;
  --color-siam-300: #b5b6a0;
  --color-siam-400: #9a9b80;
  --color-siam-500: #7d7f63;
  --color-siam-600: #64664f;
  --color-siam-700: #4d4e3d;
  --color-siam-800: #3f4034;
  --color-siam-900: #37382f;
  --color-siam-950: #1c1d16;

  --color-piper-50: #fcf7ee;
  --color-piper-100: #f6e9cf;
  --color-piper-200: #ecd19b;
  --color-piper-300: #e2b467;
  --color-piper-400: #db9d44;
  --color-piper-500: #d27f2e;
  --color-piper-600: #bc6226;
  --color-piper-700: #9a4623;
  --color-piper-800: #7e3922;
  --color-piper-900: #682f1f;
  --color-piper-950: #3b170d;

  --color-rope-50: #fefaec;
  --color-rope-100: #faf2cb;
  --color-rope-200: #f5e392;
  --color-rope-300: #f0cf59;
  --color-rope-400: #ecbb33;
  --color-rope-500: #e49e1c;
  --color-rope-600: #ca7915;
  --color-rope-700: #a85815;
  --color-rope-800: #924919;
  --color-rope-900: #713916;
  --color-rope-950: #401c08;


  --animate-appear-then-fade: appear-then-fade 4s ease-in-out both;
  --animate-slide-in-then-slide-out: slide-in-then-slide-out slide-in 0.3s ease-out, slide-out 0.5s ease-out 2.5s forwards;

  @keyframes appear-then-fade {

    0%,
    100% {
      opacity: 0;
    }

    5%,
    60% {
      opacity: 1;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      display: none;
    }
  }
}

/* example usage: hotwire-native:hidden */
@custom-variant hotwire-native {
  &:where(html[data-hotwire-native-app] *) {
    @slot;
  }
}

/* example usage: not-hotwire-native:bg-gray-900/20 */
@custom-variant not-hotwire-native {
  &:where(html:not([data-hotwire-native-app]) *) {
    @slot;
  }
}
