<% content_for :head do %>
  <%= javascript_import_module_tag "sortablejs" %>
  <%= javascript_import_module_tag "drag" %>
<% end %>


<div>
  <table class="data-table table-auto">
    <thead>
      <tr>
        <th>Reorder</th>
        <th>Position</th>
        <th>Category</th>
        <th>Title</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody data-controller="drag" data-drag-resource-name-value="product" data-drag-param-name-value="position">
      <% resource.products.each do |product| %>
        <%= render "admin/restaurants/products/table_row", product: product %>
      <% end %>
    </tbody>
  </table>
</div>
