<!-- About section -->
<div class="bg-white container mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2">
    <div class="col-md-6 p-10">
      <%= image_tag 'menu-parallax.jpg', class: 'w-full h-full object-cover' %>
    </div>
    <div class="col-md-6 p-10">
      <h2 class="text-lg font-semibold text-center tracking-tight text-balance text-gray-900 sm:text-5xl">Finca la Devocion</h2>
      <h3 class="mt-6 text-lg/8 text-gray-900 uppercase text-center">Our Story</h3>
      <p class="font-gotham-medium mt-6 text-xl/8 text-siam-700 text-balance"><%= @restaurant.about_text %></p>
    </div>
  </div>
</div>

