<!-- Gallery section -->
<div class="relative h-32 sm:h-64 bg-center bg-cover bg-no-repeat bg-fixed flex flex-col items-center justify-center" style="background-image: url('<%= image_path('menu-parallax.jpg') %>')">
  <h2 class="text-lg font-semibold tracking-tight text-balance text-white sm:text-5xl">Gallery</h2>
  <p class="mt-6 text-lg/8 text-white">Hello from gallery text</p>
</div>

<div class="bg-white">
  <div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div class="aspect-w-16 aspect-h-9">
        <img src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="Gallery Image" class="w-full h-full object-cover">
      </div>
    </div>
  </div>
</div>
