<% if 1 === 2 %>
  <div class="mt-12 py-8 px-4 relative">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="bg-white rounded-lg p-4">
        <h3 class="text-xl font-semibold tracking-tight text-balance text-gray-900 sm:text-3xl uppercase text-center">Restaurant</h3>
        <h2 class="text-lg font-semibold">Friday & Saturday</h2>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Kitchen:</p>
            <p class="text-gray-500">1:00 PM - 9:00 PM</p>
          </div>
        </div>
        <h2 class="text-lg font-semibold pt-4">Friday</h2>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Sunset Jazz:</p>
            <p class="text-gray-500">6:00 PM - 8:00 PM</p>
          </div>
        </div>
        <h2 class="text-lg font-semibold pt-4">Sunday</h2>
        <div class="flex flex-col gap-2">
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Kitchen:</p>
            <p class="text-gray-500">9:00 AM - 6:00 PM</p>
          </div>
          <div class="flex flex-row justify-between">
            <p class="text-gray-500">Brunch:</p>
            <p class="text-gray-500">9:00 AM - 2:00 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
 <div class="mt-12 py-8 px-4 border-2 border-white relative">
          <div class="absolute -top-4 sm:-top-6 left-1/2 -translate-x-1/2 bg-gray-900 px-4">
            <h2 class="text-2xl font-semibold tracking-tight text-center text-balance text-white sm:text-5xl uppercase">Hours</h2>
          </div>
          <div class="text-center my-4 sm:my-6">
            <h3 class="text-xl font-semibold tracking-tight text-balance text-white sm:text-3xl uppercase">Restaurant</h3>
          </div>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="bg-white rounded-lg p-4">
              <h2 class="text-lg font-semibold text-center">Friday & Saturday</h2>
              <div class="flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                  <p class="text-gray-500">Kitchen:</p>
                  <p class="text-gray-500">1:00 PM - 9:00 PM</p>
                </div>
              </div>
              <h2 class="text-lg font-semibold text-center pt-4">Friday</h2>
              <div class="flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                  <p class="text-gray-500">Sunset Jazz:</p>
                  <p class="text-gray-500">6:00 PM - 8:00 PM</p>
                </div>
              </div>
            </div>
            <div class="bg-white rounded-lg p-4">
              <h2 class="text-lg font-semibold text-center">Sunday</h2>
              <div class="flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                  <p class="text-gray-500">Kitchen:</p>
                  <p class="text-gray-500">9:00 AM - 6:00 PM</p>
                </div>
                <div class="flex flex-row justify-between">
                  <p class="text-gray-500">Brunch:</p>
                  <p class="text-gray-500">9:00 AM - 2:00 PM</p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center my-4 sm:my-6">
            <h3 class="text-xl font-semibold tracking-tight text-balance text-white sm:text-3xl uppercase">Cafe & Market</h3>
          </div>
          <div class="grid grid-cols-1 gap-4">
            <div class="bg-white rounded-lg p-4">
              <h2 class="text-lg font-semibold text-center">Tuesday - Sunday</h2>
              <div class="flex flex-col gap-2">
                <div class="flex flex-row justify-between">
                  <p class="text-gray-500">Hours:</p>
                  <p class="text-gray-500">9:00 AM - 5:00 PM</p>
                </div>
              </div>
            </div>
          </div>
<% end %>
