<!-- Menu section -->
<div class="relative h-32 sm:h-64 bg-center bg-cover bg-no-repeat bg-fixed flex flex-col items-center justify-center" style="background-image: url('<%= image_path('menu-parallax.jpg') %>')">
  <h2 class="text-lg font-semibold tracking-tight text-balance text-white sm:text-5xl">Our Menu</h2>
  <p class="mt-6 text-lg/8 text-white">Hello from menu text</p>
</div>

<div class="bg-white my-4">

  <%= render "menu_items", local_assigns: { title: "Hot Dishes", description: "We're a dynamic group of individuals who are passionate about what we do and dedicated to delivering the best results for our clients.", menu_items: @menu_items } %>
  <%= render "menu_items", local_assigns: { title: "Beverages", subtitle: "Specialty Cocktails", additional_info:["With El Tinieblo Mezcal", "* Available as mocktails"], menu_items: @specialty_cocktails } %>
  <%= render "menu_items", local_assigns: { subtitle: "Non Alcoholic Specialties", menu_items: @non_alcoholic_specialties } %>

</div>