<footer class="bg-siam-950">
  <div class="mx-auto max-w-7xl px-6 py-4 lg:py-16 md:flex md:items-center md:justify-between lg:px-8">
    <% if @socials.any? %>
      <div class="flex justify-center gap-x-6 md:order-2">
        <%= render partial: "layouts/footer_socials", collection: @socials %>
      </div>
    <% end %>
    <p class="hidden mt-8 text-center text-sm text-siam-400 md:order-1 md:mt-0 md:inline">&copy; 2024 <%= link_to "Empowering Partnerships Inc.", "https://www.rossi.bio", target: "_blank", class: "link-light"%>, All rights reserved.</p>
  </div>
</footer>


