<button type="button" class="fixed z-50 bottom-8 right-8 cursor-pointer rounded-full bg-siam-600 p-2 text-white shadow-xl hover:bg-siam-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-siam-600 opacity-0 transition-all duration-300" id="scroll-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" class="size-8 sm:size-12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevrons-up-icon lucide-chevrons-up"><path d="m17 11-5-5-5 5"/><path d="m17 18-5-5-5 5"/></svg>
</button>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const scrollToTopButton = document.getElementById('scroll-to-top');

    // Show button when scrolling down
    window.addEventListener('scroll', function() {
      if (window.scrollY > 100) {
        scrollToTopButton.classList.remove('opacity-0');
        scrollToTopButton.classList.add('opacity-100');
      } else {
        scrollToTopButton.classList.remove('opacity-100');
        scrollToTopButton.classList.add('opacity-0');
      }
    });

    // Scroll to top when button is clicked
    scrollToTopButton.addEventListener('click', function() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    });
  });
</script>
